<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="first">
                <div class="myform form ">
                    <div class="col-md-12 text-center">
                        <h1>Login</h1>
                    </div>
                </div>
                <form method="POST" action="{{ url_for('login') }}" name="login">
                    <div class="form-group text-center">
                        <fieldset class="form-field">
                          {{ form.username.label }}
                          {{ form.username(size=20) }}
                        </fieldset>
                    </div>
                    <div class="form-group text-center">
                        <fieldset class="form-field">
                            {{ form.password.label }}
                            {{ form.password(size=20) }}
                        </fieldset>
                    </div>
                    <div class="col-md-12 text-center">
                        {{ form.submit }}
                    </div>
                </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
            </div>
        </div>
    </div>

</body>
</html>